@media screen and (max-width: 1199px) {
	.process .process__body .process__content .process__item-content:nth-child(2) {
		max-width: 420px;
	}
	.team__body .team__items .teammate {
		width: 31%;
	}
}

@media screen and (max-width: 991px) {
	.process .process__body .process__content {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		.process__item {
			width: 50%;
			&.process__item-photo {
				overflow: hidden;
				position: relative;
				.process__item-img {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					height: 100%;
				}
			}
			&:nth-child(2) {
				width: 50%;
				padding-left: 18px;
				padding-bottom: 18px;
				margin-left: 0;
				.process__item-title {
					margin-top: 12px;
					margin-bottom: 16px;
				}
			}
			&:nth-child(3) {
				padding-left: 18px;
				padding-right: 18px;
				padding-bottom: 32px;
				margin-left: 0;
				.process__item-title {
					margin-top: 32px;
					margin-bottom: 16px;
				}
			}
			&:nth-child(6) {
				padding-left: 18px;
				padding-right: 18px;
				padding-bottom: 32px;
				margin-left: 0;
				.process__item-title {
					margin-top: 32px;
					margin-bottom: 16px;
				}
			}
		}
	}
	.services .services__body .services__content {
		margin-right: 36px;
		row-gap: 60px;
		column-gap: 71px;
	}

	.team__body .team__title-container {
		padding-right: 76px;
	}

	.team__body .team__items .teammate {
		width: 46%;
	}

	.contact__map-img {
		transform: translateX(-12%);
	}
	
	.contact__body .contact__content {
		padding-left: 32px;
		padding-right: 32px;
	}

	.footer__body .footer__placeholder .footer__placeholder-title {
		font-size: 6.12rem;
	}
}

@media screen and (max-width: 767px) {
	.intro__title {
		font-size: 11rem;
	}
	.footer__body .footer__placeholder .footer__placeholder-title {
		font-size: 5rem;
	}
	.teammate__photo {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
}

@media screen and (max-width: 680px) {

	.intro__title {
		font-size: 9rem;
	}

	.about .about__body .about__header {
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
		.about__title-content {
			width: 69%;
			&::before {
				display: none;
			}
		}
	}

	.about .about__body .about__content {
		justify-content: space-evenly;
		flex-wrap: wrap;
		row-gap: 30px;
	}

	.projects .projects__body .projects__header {
		padding-left: 30px;
		padding-right: 30px;
	}

	.projects .projects__body .projects__content .projects__item {
		width: calc(100% / 2);
		height: unset;
		display: flex;
		align-items: center;
		justify-content: center;
		.projects__item-img {
			position: static;
			width: 100%;
			height: unset;
			transform: unset;
			&:hover {
				transform: scale(1.05);
			}
		}
	}

	.team__body .team__items .teammate {
		width: 100%;
	}

	.blogs__body {
		column-gap: 70px;
		.blogs__list {
			margin-left: 36px;
		}
	}

	.contact__body .contact__content .contact__form input[type="tel"] {
		margin-right: 16px;
	}

	.contact__map-img {
		transform: translateX(-19%);
	}

	.footer__body .footer__aside {
		padding-right: 56px;
	}

	.footer__body .footer__placeholder .footer__placeholder-title {
		font-size: 4rem;
		margin-top: 112%;
	}
}

@media screen and (max-width: 576px) {
	.intro .intro__header .intro__title {
		font-size: 7.5rem;
	}

	.projects .projects__body .projects__header .projects__nav {
		flex-wrap: wrap;
		row-gap: 12px;
		column-gap: 12px;
		.nav__item {
			padding: 0;
		}
	}

	.process .process__body .process__content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: unset;
		grid-template-areas: 
		"item1"
		"item2"
		"item3"
		"item4"
		"item5"
		"item6";
		.process__item {
			width: 100% !important;
			&.process__item-photo {
				display: flex;
				justify-content: center;
				align-items: center;
				.process__item-img {
					position: static;
					width: 100%;
					height: unset;
					transform: unset;
				}
			}
			&.process__item-content {
				max-width: unset;
				padding: 18px;
				margin-bottom: 24px;
				.process__item-title {
					margin-top: 12px;
				}
			}
			&:nth-child(3) {
				grid-area: item4;
			}
		}
	}
	.services .services__body .services__content {
		margin-right: unset;
		row-gap: 36px;
		column-gap: 36px;
		grid-template-columns: repeat(2, 1fr);
		width: unset;
	}
	.services .services__body .services__content .services__item .services__item-title {
		margin-bottom: 0.9em;
	}
	.testimonials__title {
		margin-bottom: 1em;
	}
	.testimonials__body .testimonials__content {
		margin-left: unset;
		column-gap: 48px;
	}
	.testimonials__body .testimonials__text {
		margin-bottom: unset;
	}
	.blogs__body {
		column-gap: 0;
		width: 100%;
		justify-content: space-between;
		padding-left: 36px;
		padding-right: 36px;
	}
	.blogs__body .blogs__list {
		margin-left: unset;
	}
	.blogs__content {
		justify-content: end;
	}
	.contact__body {
		flex-direction: column-reverse;
		.contact__map {
			width: 100%;
			.contact__map-img {
				transform: none;
			}
		}
		.contact__content {
			padding-bottom: 36px;
		}
	}
	.footer__body .footer__aside {
		padding-right: 36px;
		.footer__title {
			font-size: 3rem;
		}
	}
	.footer__body .footer__placeholder .footer__placeholder-title {
		margin-left: 12px;
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 480px) {
	.intro .wrapper {
		padding-left: 24px;
		padding-right: 24px;
	}
	.intro .intro__header .intro__title {
		font-size: 5rem;
		letter-spacing: -3px;
	}
	.nav {
		column-gap: 1rem;
	}

	.about .about__body .about__header .about__title-content {
		width: 90%;
	}
	.projects .projects__body .projects__header {
		padding-left: 18px;
		padding-right: 18px;
	}
	.projects .projects__body .projects__header .projects__nav .nav__item.nav__item-active {
		padding-left: 12px;
		padding-right: 12px;
	}
	.projects .projects__body .projects__content .projects__item {
		width: 100%;
	}
	.process .process__body .process__header {
		padding-left: 18px;
		padding-right: 18px;
	}
	.services .services__body .services__content {
		grid-template-columns: 1fr;
	}
	.services .services__body {
		padding-left: 24px;
		padding-right: 24px;
	}
	.services .services__body .services__content .services__item .services__item-text {
		max-width: unset;
	}
	.team__body {
		flex-direction: column;
		row-gap: 24px;
		padding-left: 24px;
		padding-right: 24px;
	}
	.testimonials__body {
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 56px;
	}
	.testimonials__body .testimonials__content {
		flex-direction: column;
		align-items: center;
		row-gap: 36px;
	}
	.blogs__body {
		padding-left: 24px;
		padding-right: 24px;
		flex-direction: column;
		row-gap: 36px;
	}
	.blogs__body .blogs__list {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 16px;
	}
	.blogs__content {
		justify-content: center;
	}
	.contact__body .contact__map .contact__map-img {
		width: 145%;
	}
	.footer__body {
		flex-direction: column;
		.footer__aside {
			padding-top: 56px;
			padding-left: 24px;
			padding-right: 24px;
			.footer__list {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				column-gap: 12px;
				padding-bottom: 24px;
			}
		}
	}
	.footer__placeholder {
		height: 300px;
	}
	.footer__body .footer__placeholder .footer__placeholder-title {
		margin-top: 30%;
	}
}