.calendar__week-names {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr;
	grid-column: 1 / 8;
	.calendar__week-day {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}
}
.calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column: 1 / 8;
	grid-row: 2 / 8;
	height: 100%;
	width: 100%;

	.calendar__day {
		&:first-child {
			grid-column: 1 / 2;
			border-left: 2px solid #000;
		}
		&:nth-child(-n + 7) {
			border-top: 2px solid #000;
		}
		&:nth-child(7n + 1) {
			border-left: 2px solid #000;
		}
		position: relative;
		border-right: 2px solid #000;
		border-bottom: 2px solid #000;
		* {
			width: max-content;
			transition: all 0.15s linear;
		}
		.calendar__day-num {
			font-weight: bold;
			position: absolute;
			display: block;
			left: 3px;
			top: 3px;
		}
		.calendar__day-items {
			position: absolute;
			display: block;
			left: 3px;
			bottom: 3px;
			font-size: 0.9rem;
			z-index: 5;
			color: #777;
		}

		&::after, &::before {
			transition: all 0.15s linear;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url('img/right-arrow.png') center no-repeat;
			background-size: auto 33%;
			opacity: 0;
			visibility: hidden;
			z-index: 4;
		}

		&.past {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.08) linear-gradient(to bottom right, transparent calc(50% - 1px), #333 calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px));
			}
			.calendar__day-num {
				opacity: 0.631;
			}
			.calendar__day-items {
				opacity: 0;
				visibility: hidden;
				z-index: 0;
			}
		}

		&.past-lost {
			&::after {
				content: "!";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 3rem;
				color: rgb(255, 0, 0);
				background-color: rgba(255, 0, 0, 0.3);
			}
			.calendar__day-num, .calendar__day-items {
				color: #f00;
				z-index: 3;
				font-weight: 600;
			}
		}

		&:hover {
			cursor: pointer;
			&::before {
				opacity: 1;
				visibility: visible;
				background-position: 55% center;
			}
			.calendar__day-items {
				color: #000;
			}
		}

		&.past:hover {
			&::after {
				background: none;
			}
			.calendar__day-num {
				opacity: 1;
			}
			.calendar__day-items {
				visibility: visible;
				opacity: 1;
			}
		}

		&.past-lost:hover {
			&::before {
				opacity: 0;
				visibility: hidden;
			}
			&::after {
				font-size: 3.9rem;
				background-color: rgba(255, 0, 0, 0.5);
			}
			.calendar__day-items {
				color: #f00;
			}
		}

		&.today {
			&::after {
				content: "";
				position: absolute;
				right: 3px;
				top: 3px;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				background-color: rgb(0, 181, 0);
			}
			&::before {
				background-size: auto 50%;
			}
			.calendar__day-num {
				font-size: 1.23rem;
			}
			.calendar__day-items {
				font-size: 1rem;
				color: #000;
			}
		}
	}
}