@media screen and (max-width: 1200px) {
	.items__content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 700px) {
	.items__content {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.calendar .calendar__day .calendar__day-items .text-items {
		max-width: 2.31rem;
	}
}

@media screen and (max-width: 500px) {
	.calendar .calendar__day .calendar__day-items .text-items {
		max-width: 1.7rem;
	}
}

@media screen and (max-width: 400px) {
	.calendar .calendar__day .calendar__day-items .text-items {
		max-width: 0.7rem;
	}
}